*.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
*.idea/misc.xml
.idea/misc.xml
*.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/Project_Default.xml
*.idea/.gitignore
.idea/.gitignore
*.idea/modules.xml
.idea/modules.xml
*.idea/selenium-automation.iml
.idea/selenium-automation.iml
*.idea/vcs.xml
.idea/vcs.xml
geckodriver.log
*geckodriver.log
*.idea/workspace.xml
.idea/workspace.xml
